body {
    background-color: #96ceb4;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100%;
}

.child{
    min-width: 400px;
    max-width: 600px;
    text-align: center;
}

.gcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.sports {
    grid-column: span 3;
}
.hobby {
    grid-column: span 2;
}
.game{
    grid-column: span 3;
}
.tvshow {
    grid-area: 3/1/3/3;
}
.art {
    grid-area: 2/3/4/4;
}

.gcontainer>div {
    background-color: #ffcc5c;
    border-radius: 5px;
}
.gcontainer>div ul{
    text-align: left;
}
.gcontainer>div h2{
    font-size: 1rem;
    text-align: center;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
}

.skill-box {
    background-color: #ffeead;
    border-radius: 10px;
    margin: 0;
    padding: 10px;
    min-width: 200px;
    height: 190px;
}

li {
    color: black;
}

.embd {
    background-color: #ff6f69;
    color: white;
}

.skill-container .embd * {
    color: white;
}

.tools {
    background-color: #ffcc5c;
}

.skill-container .tools * {
    color: white;
}

.other {
    background-color: #fefbd8;   
}

.skill-container h2 {
    color: black;
    padding: 0;
    margin: 0;
}

#ytl {
    display: block;
}

h2{
    color: #36486b;
}

h1{
    font-size: 3rem;
}

img{
    margin: 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.button{
    background-color: #ffeead;
    text-align: center;
    font-size: 1em;
    padding: 5px;
    border-radius: 5px;
}

p{
    font-size: 12px;
    color: black;
}

.justxt {
    font-size: medium;
    text-align: justify;
}

footer {
    display: block;
}